<div class="container">
  <div class="row">
    <div class="span12">

      <!-- Character Stats -->
      <h1><%= @character.full_name %></h1>
      <table class="table table-striped">
        <thead>
          <th>Class</th>
          <th>Level</th>
          <th>HP</th>
          <th>Experience</th>
          <th>Gold</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Str.</th>
          <th>Int.</th>
          <th>Luck</th>
          <th>Sexy</th>
        </thead>
        <tbody>
          <tr>
          <td><%= @character.charclass %></td>
          <td><%= @character.level %></td>
          <td><%= @character.hp %></td>
          <td><%= @character.experience %></td>
          <td><%= @character.gold %></td>
          <td><%= @character.height %></td>
          <td><%= @character.weight %></td>
          <td><%= @character.strength %></td>
          <td><%= @character.intelligence %></td>
          <td><%= @character.luck %></td>
          <td><%= @character.sex_appeal %></td>
        </tbody>
      </table>
      <!-- End Character Stats -->

      <!-- Pets -->
      <% unless @character.pets.empty? %>
        <h1>Pets</h1>
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>HP</th>
          </thead>
          <tbody>
            <% @character.pets.each do |pet| %>
              <tr>
                <td><%= link_to "#{pet.full_name}", character_pet_path(@character, pet) %></td>
                <td><%= pet.hp %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <!-- End Pets -->

      <!-- Links -->
      <%= link_to "Edit #{@character.first_name}", edit_character_path(@character), :class => "btn btn-warning" %>
      <%= link_to "View All Characters", characters_path, :class => "btn btn-primary" %>
      <%= link_to "Create Pet for Character", new_character_pet_path(@character), :class => "btn btn-success" %>
      <!-- End Links -->
    </div>
  </div>
</div>
